{% extends 'base.html' %}
{% block content %}
    <h1>About Magic Budgeter</h1>
    <hr>
    <p>Put some control back into your wallet!</p>
    <p>Magic Budgeter is designed to find cheaper alternitives for those attempting to make a magic deck on a budget. <br> Just input your decklist and price limit, and Magic Budgeter will find the best alternitives for your cards.</p>
    <footer>
        All Rights Reserved, 
        This website is not produced, endorsed, supported, 
        or affiliated with Wizards of the Coast. 
        Magic: The Gathering and all associated card names,
        images, and other properties are 
        trademarks of Wizards of the Coast LLC in the 
        United States and other countries. &copy;
        2023 Wizards of the Coast. All Rights Reserved.
    </footer>
{% endblock %}